/* Main CSS file to contain rules for working with JavaScript. */

/*Used for button to generate credentials*/
#generateButton {
  background-color: transparent;
}
#generateButton:hover {
  background-color: aqua;
}
#generateButton:active {
  background-color: yellow;
}

/*Used when replacing text*/
#credentialUsername {
  background-color: unset;
}
#credentialEmail {
  background-color: unset;
}