/* Main CSS file to contain rules for working with JavaScript. */

/*Used for button to generate credentials*/
#generate {
  background-color: transparent;
}

/*Used when replacing text*/
#credentialUsername {
  background-color: unset;
}
#credentialEmail {
  background-color: unset;
}